

.container {
  display: block;
  margin: auto;
  width: 1200px;
}

.header {
  background: #00b3ee;
  width: 100%;
  height: 59px;
  z-index: 5;
  position: relative;
}

.head {
  width: 1200px;
  margin: 0 auto;
}

.name {
  float: left;
  width: 400px;
  color: #ffffff;
  font-weight: bold;
  line-height: 60px;
  font-family: 'jaapokki';
  font-size: 20px;
  font-weight: normal;
}

ul.menu {
  float: right;
  margin: 0;
  padding: 0;
}

ul.menu li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

ul.menu li a {
  text-decoration: none;
  color: #ffffff;
  background: #2aabd2;
  line-height: 60px;
  padding: 21px 35px;
  -webkit-transition: all 0.3s ease;
  margin-left: 1px;
}

ul.menu li a:hover {
  padding: 26px 35px;
}


/*login*/
